---
import ResumeLayout from "@layouts/ResumeLayout.astro";
import MainContent from "@components/layout/MainContent.astro";
import SideBar from "@components/layout/SideBar.astro";
---

<ResumeLayout title="Santiago Rodriguez | CV">
  <div class="resume-page flex">
    <SideBar />
    <MainContent />
  </div>
</ResumeLayout>

<style>
  .resume-page {
    background: white;
    width: 8.5in;
    /* height: 11in; */
    /* padding: 1in; /* Standard 1-inch margins */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; /* Ensures padding doesn't increase 8.5x11 size */
    overflow: hidden; /* Prevents content from leaking out */
  }
</style>
