<!doctype html>
<html lang="es">
  <head>
    <style>
      .contenedor {
        width: 800px; /* Ancho de prueba para forzar el desborde */
        border: 1px solid #ccc;
      }

      .mi-imagen {
        float: left; /* Hace que el texto se sitúe a la derecha */
        width: 90px;
        height: 90px;
        background-color: #ddd; /* Solo para visualización */
      }

      .texto {
        font-family: sans-serif;
        line-height: 1.4;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="contenedor">
      <img src="tu-imagen.jpg" alt="Miniatura" class="mi-imagen" />
      <p class="texto">
        Este es el texto que comenzará a la derecha de la imagen. Como la imagen
        tiene un "float: left", el texto intentará rellenar el espacio lateral.
        Si escribimos lo suficiente, verás cómo el texto deja de estar
        restringido por el ancho de la imagen y continúa expandiéndose por todo
        el ancho del contenedor justo debajo de ella. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Optio molestias architecto modi iure
        accusamus vel, culpa velit animi, maiores dignissimos necessitatibus
        perferendis magnam consequuntur! Sapiente quia ea cupiditate blanditiis
        aliquid?
      </p>
    </div>
  </body>
</html>
