---
interface Props {
  title: string;
  date: string;
  subtitle: string;
  titleSize?: "sm" | "md" | "lg";
}

const { title, subtitle, date, titleSize = "sm" } = Astro.props;
---

<article class="timeline-entry flex pb-8">
  <div
    class:list={[
      { ["w-34"]: titleSize === "sm" },
      { ["w-42"]: titleSize === "md" },
      { ["w-85"]: titleSize === "lg" },
      "text-[12px] pr-3.5  print:pr-1 title-section",
    ]}
  >
    <span class="block font-bold uppercase text-pretty text-[#636466] separator"
      >{title}</span
    >
    <span class="block text-[#808183]">{date}</span>
  </div>

  <div class="time-content flex-1 relative pl-4">
    <div
      class="circle-time absolute w-2.5 h-2.5 rounded-full bg-[#414142] top-1.5 -left-[4.5px]"
    >
    </div>

    <h4 class="font-bold text-[14px] text-[#808183]">
      {subtitle}
    </h4>
    <slot />
  </div>
</article>

<style is:inline>
  .timeline-entry {
    break-inside: avoid;
    .time-content::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: -32px;
      width: 1.05px;
      background-color: #414142;
      left: 0;
    }
    &:first-of-type .time-content::after {
      top: 10px;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
    &:last-of-type .time-content::after {
      bottom: 0;
    }
  }
</style>
