---
import { getEntry, getCollection } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";

import profileImage from "@images/santi.jpeg";

const [basics, works] = await Promise.all([
  getEntry("basics", "basics"),
  getCollection("works"),
]);

console.log({ basics, works });
---

<MainLayout title="Santiago Rodriguez | CV">
  <a href="cv/detail">
    <Image
      transition:name="profile-img"
      src={profileImage}
      alt="profile image"
      width="300"
      alt="Profile image santiago Rodriguez"
    />
  </a>

  <h1 transition:name="basics-name" class="text-3xl">{basics?.data.name}</h1>

  {basics?.data.label}

  <ul>
    <li>{works.map((item) => <span>{item.data.name}</span>)}</li>
  </ul>
</MainLayout>
